@model S.A.Models.Flight_Class

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Flight_Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bussines_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bussines_Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Premium_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Premium_Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tourist_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tourist_Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flight.ID_Flight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flight.ID_Flight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Flight_Class }) |
    @Html.ActionLink("Back to List", "Index")
</p>
