@model S.A.Models.Cancellation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cancellation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cancellation_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cancellation_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Refund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Refund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passenger.Fst_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger.Fst_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Det_Ticket.ID_Ticket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Det_Ticket.ID_Ticket)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
