@model S.A.Models.Cancellation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cancellation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cancellation_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cancellation_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Refund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Refund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passenger.Fst_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger.Fst_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Det_Ticket.ID_Ticket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Det_Ticket.ID_Ticket)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Cancellation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
