@model S.A.Models.Flight_Seats

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Flight_Seats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seat_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assigned_Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assigned_Seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flight.ID_Flight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flight.ID_Flight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Seat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
