@model S.A.Models.Flight_Origin

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
	<h2 class="text-center">Agendar Vuelo Origen</h2>
	<hr />

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					@Html.LabelFor(model => model.ID_Passenger , "ID del Pasajero")
					@Html.DropDownListFor(model => model.ID_Passenger, ViewBag.Passengers as SelectList, "Seleccione un pasajero", new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.ID_Passenger, "", new { @class = "text-danger" })
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Airport, "Aeropuerto de Origen")
					@Html.TextBoxFor(model => model.Airport, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Airport, "", new { @class = "text-danger" })
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Country, "País de Origen")
					@Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.City, "Ciudad de Origen")
					@Html.TextBoxFor(model => model.City, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.ZipCode, "Código Postal")
					@Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					@Html.LabelFor(model => model.Airline, "Aerolínea")
					@Html.TextBoxFor(model => model.Airline, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Airline, "", new { @class = "text-danger" })
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.DepartureDate, "Fecha de Salida")
					@Html.TextBoxFor(model => model.DepartureDate, new { @class = "form-control", type = "date" })
					@Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Departure_Time, "Hora de Salida")
					@Html.TextBoxFor(model => model.Departure_Time, new { @class = "form-control", type = "time" })
					@Html.ValidationMessageFor(model => model.Departure_Time, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="form-group text-center">
			<button type="submit" class="btn btn-primary">Agendar Vuelo</button>
		</div>
	}
</div>

<div class="text-center">
	@Html.ActionLink("Regresar a la Lista", "Index")
</div>