@model S.A.Models.Flight_Luggage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Flight_Luggage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Luggage_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luggage_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luggage_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luggage_Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra_Luggage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra_Luggage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Extra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Extra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passenger.Fst_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger.Fst_Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Luggage }) |
    @Html.ActionLink("Back to List", "Index")
</p>
